<p id="notice"><%= notice %></p>

<p>
  <b>Ticket num:</b>
  <%= @vipasrsa.ticket_num %>
</p>

<p>
  <b>Company name:</b>
  <%= @vipasrsa.company_name %>
</p>

<p>
  <b>Company contact:</b>
  <%= @vipasrsa.company_contact %>
</p>

<p>
  <b>Company email:</b>
  <%= @vipasrsa.company_email %>
</p>

<p>
  <b>Flag:</b>
  <%= @vipasrsa.flag %>
</p>

<p>
  <b>Status:</b>
  <%= @vipasrsa.status %>
</p>

<p>
  <b>Section:</b>
  <%= @vipasrsa.section %>
</p>

<p>
  <b>Price:</b>
  <%= @vipasrsa.price %>
</p>

<p>
  <b>Approved:</b>
  <%= @vipasrsa.approved %>
</p>

<p>
  <b>Paid:</b>
  <%= @vipasrsa.paid %>
</p>

<p>
  <b>User:</b>
  <%= @vipasrsa.user_id %>
</p>

<p>
  <b>Main section:</b>
  <%= @vipasrsa.main_section %>
</p>


<%= link_to 'Edit', edit_vipasrsa_path(@vipasrsa) %> |
<%= link_to 'Back', vipasrsas_path %>
