<p id="notice"><%= notice %></p>

<p>
  <b>Ticket num:</b>
  <%= @lbaa.ticket_num %>
</p>

<p>
  <b>Company name:</b>
  <%= @lbaa.company_name %>
</p>

<p>
  <b>Company contact:</b>
  <%= @lbaa.company_contact %>
</p>

<p>
  <b>Company email:</b>
  <%= @lbaa.company_email %>
</p>

<p>
  <b>Flag:</b>
  <%= @lbaa.flag %>
</p>

<p>
  <b>Status:</b>
  <%= @lbaa.status %>
</p>

<p>
  <b>Section:</b>
  <%= @lbaa.section %>
</p>

<p>
  <b>Price:</b>
  <%= @lbaa.price %>
</p>

<p>
  <b>Approved:</b>
  <%= @lbaa.approved %>
</p>

<p>
  <b>Paid:</b>
  <%= @lbaa.paid %>
</p>

<p>
  <b>User:</b>
  <%= @lbaa.user_id %>
</p>

<p>
  <b>Main section:</b>
  <%= @lbaa.main_section %>
</p>


<%= link_to 'Edit', edit_lbaa_path(@lbaa) %> |
<%= link_to 'Back', lbaas_path %>
