<p id="notice"><%= notice %></p>

<p>
  <b>Ticket num:</b>
  <%= @csa.ticket_num %>
</p>

<p>
  <b>Company name:</b>
  <%= @csa.company_name %>
</p>

<p>
  <b>Company contact:</b>
  <%= @csa.company_contact %>
</p>

<p>
  <b>Company email:</b>
  <%= @csa.company_email %>
</p>

<p>
  <b>Flag:</b>
  <%= @csa.flag %>
</p>

<p>
  <b>Status:</b>
  <%= @csa.status %>
</p>

<p>
  <b>Section:</b>
  <%= @csa.section %>
</p>

<p>
  <b>Price:</b>
  <%= @csa.price %>
</p>

<p>
  <b>Approved:</b>
  <%= @csa.approved %>
</p>

<p>
  <b>Paid:</b>
  <%= @csa.paid %>
</p>

<p>
  <b>User:</b>
  <%= @csa.user_id %>
</p>

<p>
  <b>Main section:</b>
  <%= @csa.main_section %>
</p>


<%= link_to 'Edit', edit_csa_path(@csa) %> |
<%= link_to 'Back', csas_path %>
