<p id="notice"><%= notice %></p>

<p>
  <b>Ticket num:</b>
  <%= @srsbvipb.ticket_num %>
</p>

<p>
  <b>Company name:</b>
  <%= @srsbvipb.company_name %>
</p>

<p>
  <b>Company contact:</b>
  <%= @srsbvipb.company_contact %>
</p>

<p>
  <b>Company email:</b>
  <%= @srsbvipb.company_email %>
</p>

<p>
  <b>Flag:</b>
  <%= @srsbvipb.flag %>
</p>

<p>
  <b>Status:</b>
  <%= @srsbvipb.status %>
</p>

<p>
  <b>Section:</b>
  <%= @srsbvipb.section %>
</p>

<p>
  <b>Price:</b>
  <%= @srsbvipb.price %>
</p>

<p>
  <b>Approved:</b>
  <%= @srsbvipb.approved %>
</p>

<p>
  <b>Paid:</b>
  <%= @srsbvipb.paid %>
</p>

<p>
  <b>User:</b>
  <%= @srsbvipb.user_id %>
</p>

<p>
  <b>Main section:</b>
  <%= @srsbvipb.main_section %>
</p>


<%= link_to 'Edit', edit_srsbvipb_path(@srsbvipb) %> |
<%= link_to 'Back', srsbvipbs_path %>
