<div class="container">
	<div class="body_content">	
	<h3>Section VIP BB / SRS BB</h3>
	<br />
	<table id="visual_vipbbsrsbb" style="width:415px;">
		<tr>
			<% @vipbbsrsbbs_a.each do |vipbbsrsbb_a| %>
				<% if vipbbsrsbb_a.approved == 'yes' %>
					<td class="<%= vipbbsrsbb_a.status %>"><a><%= vipbbsrsbb_a.ticket_num %></a></td>
				
				<% else %>
				<td id='<%= dom_id vipbbsrsbb_a %>' class="<%= vipbbsrsbb_a.status %>">
					<% if vipbbsrsbb_a.status == false %>
					<%= link_to vipbbsrsbb_a.ticket_num, {:controller => 'vipbbsrsbbs' ,:action => 'update_status', :id => vipbbsrsbb_a.id}, remote: true %></td>
					<% elsif vipbbsrsbb_a.status == true && session[:company_name] == vipbbsrsbb_a.company_name %>
					<%= link_to vipbbsrsbb_a.ticket_num, {:controller => 'vipbbsrsbbs' ,:action => 'update_status', :id => vipbbsrsbb_a.id}, remote: true %></td>		
					<% else %>
						<%= link_to vipbbsrsbb_a.ticket_num %>
					<% end %>
				<% end %>
			<% end %>		
		</tr>
	</table>
		<table id="visual_vipbbsrsbb" style="width:415px;">
		<tr>
			<% @vipbbsrsbbs_b.each do |vipbbsrsbb_b| %>
				<% if vipbbsrsbb_b.approved == 'yes' %>
					<td class="<%= vipbbsrsbb_b.status %>"><a><%= vipbbsrsbb_b.ticket_num %></a></td>
				
				<% else %>
				<td id='<%= dom_id vipbbsrsbb_b %>' class="<%= vipbbsrsbb_b.status %>">
					<% if vipbbsrsbb_b.status == false %>
					<%= link_to vipbbsrsbb_b.ticket_num, {:controller => 'vipbbsrsbbs' ,:action => 'update_status', :id => vipbbsrsbb_b.id}, remote: true %></td>
					<% elsif vipbbsrsbb_b.status == true && session[:company_name] == vipbbsrsbb_b.company_name %>
					<%= link_to vipbbsrsbb_b.ticket_num, {:controller => 'vipbbsrsbbs' ,:action => 'update_status', :id => vipbbsrsbb_b.id}, remote: true %></td>		
					<% else %>
						<%= link_to vipbbsrsbb_b.ticket_num %>
					<% end %>
				<% end %>
			<% end %>		
		</tr>
	</table>
	<table id="visual_vipbbsrsbb" style="width:415px;">
		<tr>
			<% @vipbbsrsbbs_c.each do |vipbbsrsbb_c| %>
				<% if vipbbsrsbb_c.approved == 'yes' %>
					<td class="<%= vipbbsrsbb_c.status %>"><a><%= vipbbsrsbb_c.ticket_num %></a></td>
				<% else %>
				<td id='<%= dom_id vipbbsrsbb_c %>' class="<%= vipbbsrsbb_c.status %>">
					<% if vipbbsrsbb_c.status == false %>
					<%= link_to vipbbsrsbb_c.ticket_num, {:controller => 'vipbbsrsbbs' ,:action => 'update_status', :id => vipbbsrsbb_c.id}, remote: true %></td>
					<% elsif vipbbsrsbb_c.status == true && session[:company_name] == vipbbsrsbb_c.company_name %>
					<%= link_to vipbbsrsbb_c.ticket_num, {:controller => 'vipbbsrsbbs' ,:action => 'update_status', :id => vipbbsrsbb_c.id}, remote: true %></td>		
					<% else %>
						<%= link_to vipbbsrsbb_c.ticket_num %>
					<% end %>
				<% end %>	
			<% end %>	
		</tr>
		</table>
	<table id="visual_vipbbsrsbb" style="width:415px;">
		
		<tr>
			<% @vipbbsrsbbs_d.each do |vipbbsrsbb_d| %>
				<% if vipbbsrsbb_d.approved == 'yes' %>
					<td class="<%= vipbbsrsbb_d.status %>"><a><%= vipbbsrsbb_d.ticket_num %></a></td>
				<% else %>
				<td id='<%= dom_id vipbbsrsbb_d %>' class="<%= vipbbsrsbb_d.status %>">
					<% if vipbbsrsbb_d.status == false %>
					<%= link_to vipbbsrsbb_d.ticket_num, {:controller => 'vipbbsrsbbs' ,:action => 'update_status', :id => vipbbsrsbb_d.id}, remote: true %></td>
					<% elsif vipbbsrsbb_d.status == true && session[:company_name] == vipbbsrsbb_d.company_name %>
					<%= link_to vipbbsrsbb_d.ticket_num, {:controller => 'vipbbsrsbbs' ,:action => 'update_status', :id => vipbbsrsbb_d.id}, remote: true %></td>		
					<% else %>
						<%= link_to vipbbsrsbb_d.ticket_num %>
					<% end %>
				<% end %>
			<% end %>		
		</tr>
		</table>
	<table id="visual_vipbbsrsbb">
		<tr>
			<% @vipbbsrsbbs_e.each do |vipbbsrsbb_e| %>
				<% if vipbbsrsbb_e.approved == 'yes' %>
					<td class="<%= vipbbsrsbb_e.status %>"><a><%= vipbbsrsbb_e.ticket_num %></a></td>
				<% else %>
				<td id='<%= dom_id vipbbsrsbb_e %>' class="<%= vipbbsrsbb_e.status %>">
					<% if vipbbsrsbb_e.status == false %>
					<%= link_to vipbbsrsbb_e.ticket_num, {:controller => 'vipbbsrsbbs' ,:action => 'update_status', :id => vipbbsrsbb_e.id}, remote: true %></td>
					<% elsif vipbbsrsbb_e.status == true && session[:company_name] == vipbbsrsbb_e.company_name %>
					<%= link_to vipbbsrsbb_e.ticket_num, {:controller => 'vipbbsrsbbs' ,:action => 'update_status', :id => vipbbsrsbb_e.id}, remote: true %></td>		
					<% else %>
						<%= link_to vipbbsrsbb_e.ticket_num %>
					<% end %>
				<% end %>	
			<% end %>
		</tr>
	</table>
	<br />
	<%= link_to 'Main Page', { :controller => 'access',:action => 'public' }, :class => 'btn btn-primary' %>
	<%= link_to 'Back To List', {:action => 'index'}, :class => 'btn btn-primary' %>

	</div><!-- body_content -->

	<div id="my_reserve">
		<% if session[:username] == 'admin' %>
			<h3>Reservations for this Section</h3>
			<table class="table table-striped">
				<tr>
					<td>Seat</td>
					<td>Company</td>
					<td>Paid</td>
					<td>Approved</td>
				</tr>
			<% @vipbbsrsbbs_with.each do |my| %>
				<tr id='<%= dom_id my %>'>
					<td><%= my.ticket_num %></td>
					<td><%= link_to(my.company_name, :controller => 'company',:action => 'show_comp', :id => my.user_id) %></td>
					<td><% if my.paid == 'no' %>
						<%= link_to( image_tag('cross.png') ,{:action => 'paid', :id => my.id}) %>
						<% else %>
						<%= link_to( image_tag('check.png') ,{:action => 'unpaid', :id => my.id}) %>	
						<% end %>
					</td>
					<% if my.approved == 'no' %>
					 <td><%= link_to(image_tag('cross.png'), :action => 'approved', :id => my.id) %></td>
					 <% else %>
					 	<td><%= link_to(image_tag('check.png'), :action => 'disapproved', :id => my.id) %></td>
					 <% end %>
					 
				</tr>
			<% end %>
			</table>
		<% else %>
			<table class="table table-striped">
				<h4>My Reservation</h4>
					<% if @my_vipbbsrsbbs.empty? %>
						<p>You have no reservation for this section</p>
					<% else %>
					<% @my_vipbbsrsbbs.each do |my| %>
						<tr>
							<td><%= my.ticket_num %> - <%= my.company_name %></td>
						</tr>
					<% end %>
					<% end %>
			</table>
		<% end %>
	</div>

	<div class="notes">
		<p><%= @vipbbsrsbbs_total %> approved <% if @vipbbsrsbbs_total == 1 %>seat<% else %>seats<% end %>.</p>
		<p><%= @vipbbsrsbbs_pending %> pending <% if @vipbbsrsbbs_pending == 1 %>seat<% else %>seats<% end %>.</p>
	</div>



</div><!-- container -->

