<p id="notice"><%= notice %></p>

<p>
  <b>Ticket num:</b>
  <%= @lbbb.ticket_num %>
</p>

<p>
  <b>Company name:</b>
  <%= @lbbb.company_name %>
</p>

<p>
  <b>Company contact:</b>
  <%= @lbbb.company_contact %>
</p>

<p>
  <b>Company email:</b>
  <%= @lbbb.company_email %>
</p>

<p>
  <b>Flag:</b>
  <%= @lbbb.flag %>
</p>

<p>
  <b>Status:</b>
  <%= @lbbb.status %>
</p>

<p>
  <b>Section:</b>
  <%= @lbbb.section %>
</p>

<p>
  <b>Price:</b>
  <%= @lbbb.price %>
</p>

<p>
  <b>Approved:</b>
  <%= @lbbb.approved %>
</p>

<p>
  <b>Paid:</b>
  <%= @lbbb.paid %>
</p>

<p>
  <b>User:</b>
  <%= @lbbb.user_id %>
</p>

<p>
  <b>Main section:</b>
  <%= @lbbb.main_section %>
</p>


<%= link_to 'Edit', edit_lbbb_path(@lbbb) %> |
<%= link_to 'Back', lbbbs_path %>
