<p id="notice"><%= notice %></p>

<p>
  <b>Ticket num:</b>
  <%= @srsa.ticket_num %>
</p>

<p>
  <b>Company name:</b>
  <%= @srsa.company_name %>
</p>

<p>
  <b>Company contact:</b>
  <%= @srsa.company_contact %>
</p>

<p>
  <b>Company email:</b>
  <%= @srsa.company_email %>
</p>

<p>
  <b>Flag:</b>
  <%= @srsa.flag %>
</p>

<p>
  <b>Status:</b>
  <%= @srsa.status %>
</p>

<p>
  <b>Section:</b>
  <%= @srsa.section %>
</p>

<p>
  <b>Price:</b>
  <%= @srsa.price %>
</p>

<p>
  <b>Approved:</b>
  <%= @srsa.approved %>
</p>

<p>
  <b>Paid:</b>
  <%= @srsa.paid %>
</p>

<p>
  <b>User:</b>
  <%= @srsa.user_id %>
</p>

<p>
  <b>Main section:</b>
  <%= @srsa.main_section %>
</p>


<%= link_to 'Edit', edit_srsa_path(@srsa) %> |
<%= link_to 'Back', srsas_path %>
