<br/><br/><br/>
<div class="container">

<h1>Users (<%= @users.size %>)</h1>
<br/>
<table  class="table table-striped">
  <tr>
    <th>Username</th>
    <th>Company</th>
    <th>Contact</th>
    <th>Email</th>
    <th>Reservations</th>  
    <th></th>
    
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= link_to user.username, {:controller => 'company', :action => 'show_comp', :id => user.id} %></td>
    <td><%= user.company_name %></td>
    <td><%= user.company_contact %></td>
    <td><%= user.company_email %></td>
    <td></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>  
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path, :class => 'btn btn-primary' %>

</div>