<br /><br /><br /><br />
<div class="container1">
<%= image_tag('seatmap.jpg') %>
	<div class="seat_nav">

		<div style="padding:5px; border:1px solid #ccc;border-radius:3px;"><p>To finalize your reservations click:<%= link_to 'My Reservations', {:controller => 'company', :action => 'show_comp', :id => session[:id]} %><br/>  and notify us of your reservations.</p></div>

		<table class="table table-striped" id="table_01">
			<tr>
				<td><%= link_to('PATRON',{:controller => 'Patrons',:action => 'visual'},) %></td>
				<td style="width:50px;"></td>
				<td><%= @patrons.size %> / <%= @patrons_all.size %> total seats</td>
			</tr>
			<tr>
				<td><%= link_to('VIP-BB/SRS-BB',{:controller => 'Vipbbsrsbbs',:action => 'visual'},) %></td>
				<td style="width:50px;"></td>
				<td><%= @vipbbsrsbbs.size %> / <%= @vipbbsrsbbs_all.size %> total seats</td>
			</tr>
			<tr>
				<td><%= link_to('SRS-AA/VIP-AA',{:controller => 'Srsaavipaas',:action => 'visual'}) %></td>
				<td style="width:50px;"></td>
				<td><%= @srsaavipaas.size %> / <%= @srsaavipaas_all.size %> total seats</td>
			</tr>
			<tr>
				<td><%= link_to('SRS-AA',{:controller => 'Srsaas',:action => 'visual'}) %></td>
				<td style="width:50px;"></td>
				<td><%= @srsaas.size %> / <%= @srsaas_all.size %> total seats</td>
			</tr>
			<tr>
				<td><%= link_to('CS-AA',{:controller => 'Csaas',:action => 'visual'}) %></td>
				<td style="width:50px;"></td>
				<td><%= @csaas.size %> / <%= @csaas_all.size %> total seats</td>
			</tr>
			<tr>
				<td><%= link_to('CS-A',{:controller => 'Csas',:action => 'visual'}) %></td>
				<td style="width:50px;"></td>
				<td><%= @csas.size %> / <%= @csas_all.size %> total seats</td>
			</tr>
			<tr>
				<td><%= link_to('SRS-A',{:controller => 'Srsas',:action => 'visual'}) %></td>
				<td style="width:50px;"></td>
				<td><%= @srsas.size %> / <%= @srsas_all.size %> total seats</td>
			</tr>
			<tr>
				<td><%= link_to('VIP-A/SRS-A',{:controller => 'Vipasrsas',:action => 'visual'}) %></td>
				<td style="width:50px;"></td>
				<td><%= @vipasrsas.size %> / <%= @vipasrsas_all.size %> total seats</td>
			</tr>
			<tr>
				<td><%= link_to('SRS-B/VIP-B',{:controller => 'Srsbvipbs',:action => 'visual'}) %></td>
				<td style="width:50px;"></td>
				<td><%= @srsbvipbs.size %> / <%= @srsbvipbs_all.size %> total seats</td>
			</tr>
			<tr>
				<td><%= link_to('LB-DD',{:controller => 'Lbdds',:action => 'visual'}) %></td>
				<td style="width:50px;"></td>
				<td><%= @lbdds.size %> / <%= @lbdds_all.size %> total seats</td>
			</tr>
			<tr>
				<td><%= link_to('LB-CC',{:controller => 'Lbccs',:action => 'visual'}) %></td>
				<td style="width:50px;"></td>
				<td><%= @lbccs.size %> / <%= @lbccs_all.size %> total seats</td>
			</tr>
			<tr>
				<td><%= link_to('LB-BB',{:controller => 'Lbbbs',:action => 'visual'}) %></td>
				<td style="width:50px;"></td>
				<td><%= @lbbbs.size %> / <%= @lbbbs_all.size %> total seats</td>
			</tr>
			<tr>
				<td><%= link_to('LB-AA',{:controller => 'Lbaas',:action => 'visual'}) %></td>
				<td style="width:50px;"></td>
				<td><%= @lbaas.size %> / <%= @lbaas_all.size %> total seats</td>
			</tr>
			<tr>
				<td><%= link_to('LB-A',{:controller => 'Lbas',:action => 'visual'}) %></td>
				<td style="width:50px;"></td>
				<td><%= @lbas.size %> / <%= @lbas_all.size %> total seats</td>
			</tr>
			<tr>
				<td><%= link_to('LB-B',{:controller => 'Lbbs',:action => 'visual'}) %></td>
				<td style="width:50px;"></td>
				<td><%= @lbbs.size %> / <%= @lbbs_all.size %> total seats</td>
			</tr>
			<tr>
				<td><%= link_to('LB-C',{:controller => 'Lbcs',:action => 'visual'}) %></td>
				<td style="width:50px;"></td>
				<td><%= @lbcs.size %> / <%= @lbcs_all.size %> total seats</td>
			</tr>
			<tr>
				<td><%= link_to('LB-D',{:controller => 'Lbds',:action => 'visual'}) %></td>
				<td style="width:50px;"></td>
				<td><%= @lbds.size %> / <%= @lbds_all.size %> total seats</td>
			</tr>
		</table>	
	</div>

	<div class="instruct" style="margin-left:20px;">

		<p><b>Online Ticket Reservation</b> </br>
-  We have automated the ticket reservation this year.</br> This is to give equal opportunity to everyone to avail of their preferred seats. </br>
-  Ticket price is at PhP 350 (same price as ICONS 2011)</br> 
-   ONLINE RESERVATION LINK  http://hrcc-icons.herokuapp.com</p>
</br></br>

		<p>
			<b><u> Important Reminders Regarding Ticket Reservation</u></b></br> 
1.   Ticket reservation will be a FIRST COME, FIRST SERVE BASIS </br>
2.   For reserved seats, a reservation fee of  PhP 3,500.00 should be settled by your company. Sales invoices will be sent to your</br>    
      company after you have to submitted the online reservation form (2-3 working days).   </br>
3.  There is a 10-day holding period for reserved seats.  Failure to settle the amount for reserved seats will forfeit  your chance to </br>
      refund the PhP 3,500 reservation fee and your reserved seats will be released to other companies.  </br>     
4.  The online diagram of the seat layout of Cuneta Astrodome is subject to updating.  However seat reservations are real time. To</br> 
     address this limitation, we will provide an updated layout of the venue indicating reserved seats every Friday of each week </br>
    (starting this Friday).  You may also call us to inquire regarding the available seats in the venue. 
		</p>


	</br></br>
	<p><b>ONLINE REGISTRATION STEPS</b> </br>
 1.SIGN UP </br>
2. RESERVE SEATS </br>
3. SUBMIT ONLINE RESERVATION FORM </br>
4. SETTLE RESERVATION FEE (Sales invoice from PeopleSparx, Inc.) </br>
5. PAY RESERVED SEATS AMOUNT</br> 
6. CONFIRMED RESERVATION </p>
	</div>
</div>

