<br /><br /><br /><br />
<div class="container1">
<%= image_tag('seatmap.jpg') %>
	<div class="seat_nav">

		<div style="padding:5px; border:1px solid #ccc;border-radius:3px;"><p>To finalize your reservations click:<%= link_to 'My Reservations', {:controller => 'company', :action => 'show_comp', :id => session[:id]} %><br/>  and notify us of your reservations.</p></div>

		<table class="table table-striped" id="table_01">
			<tr>
				<td><%= link_to('PATRON',{:controller => 'Patrons',:action => 'visual'},) %></td>
				<td style="width:50px;"></td>
				<td><%= @patrons.size %> / <%= @patrons_all.size %> total seats</td>
			</tr>
			<tr>
				<td><%= link_to('VIP-BB/SRS-BB',{:controller => 'Vipbbsrsbbs',:action => 'visual'},) %></td>
				<td style="width:50px;"></td>
				<td><%= @vipbbsrsbbs.size %> / <%= @vipbbsrsbbs_all.size %> total seats</td>
			</tr>
			<tr>
				<td><%= link_to('SRS-AA/VIP-AA',{:controller => 'Srsaavipaas',:action => 'visual'}) %></td>
				<td style="width:50px;"></td>
				<td><%= @srsaavipaas.size %> / <%= @srsaavipaas_all.size %> total seats</td>
			</tr>
			<tr>
				<td><%= link_to('SRS-AA',{:controller => 'Srsaas',:action => 'visual'}) %></td>
				<td style="width:50px;"></td>
				<td><%= @srsaas.size %> / <%= @srsaas_all.size %> total seats</td>
			</tr>
			<tr>
				<td><%= link_to('CS-AA',{:controller => 'Csaas',:action => 'visual'}) %></td>
				<td style="width:50px;"></td>
				<td><%= @csaas.size %> / <%= @csaas_all.size %> total seats</td>
			</tr>
			<tr>
				<td><%= link_to('CS-A',{:controller => 'Csas',:action => 'visual'}) %></td>
				<td style="width:50px;"></td>
				<td><%= @csas.size %> / <%= @csas_all.size %> total seats</td>
			</tr>
			<tr>
				<td><%= link_to('SRS-A',{:controller => 'Srsas',:action => 'visual'}) %></td>
				<td style="width:50px;"></td>
				<td><%= @srsas.size %> / <%= @srsas_all.size %> total seats</td>
			</tr>
			<tr>
				<td><%= link_to('VIP-A/SRS-A',{:controller => 'Vipasrsas',:action => 'visual'}) %></td>
				<td style="width:50px;"></td>
				<td><%= @vipasrsas.size %> / <%= @vipasrsas_all.size %> total seats</td>
			</tr>
			<tr>
				<td><%= link_to('SRS-B/VIP-B',{:controller => 'Srsbvipbs',:action => 'visual'}) %></td>
				<td style="width:50px;"></td>
				<td><%= @srsbvipbs.size %> / <%= @srsbvipbs_all.size %> total seats</td>
			</tr>
			<tr>
				<td><%= link_to('LB-DD',{:controller => 'Lbdds',:action => 'visual'}) %></td>
				<td style="width:50px;"></td>
				<td><%= @lbdds.size %> / <%= @lbdds_all.size %> total seats</td>
			</tr>
			<tr>
				<td><%= link_to('LB-CC',{:controller => 'Lbccs',:action => 'visual'}) %></td>
				<td style="width:50px;"></td>
				<td><%= @lbccs.size %> / <%= @lbccs_all.size %> total seats</td>
			</tr>
			<tr>
				<td><%= link_to('LB-BB',{:controller => 'Lbbbs',:action => 'visual'}) %></td>
				<td style="width:50px;"></td>
				<td><%= @lbbbs.size %> / <%= @lbbbs_all.size %> total seats</td>
			</tr>
			<tr>
				<td><%= link_to('LB-AA',{:controller => 'Lbaas',:action => 'visual'}) %></td>
				<td style="width:50px;"></td>
				<td><%= @lbaas.size %> / <%= @lbaas_all.size %> total seats</td>
			</tr>
			<tr>
				<td><%= link_to('LB-A',{:controller => 'Lbas',:action => 'visual'}) %></td>
				<td style="width:50px;"></td>
				<td><%= @lbas.size %> / <%= @lbas_all.size %> total seats</td>
			</tr>
			<tr>
				<td><%= link_to('LB-B',{:controller => 'Lbbs',:action => 'visual'}) %></td>
				<td style="width:50px;"></td>
				<td><%= @lbbs.size %> / <%= @lbbs_all.size %> total seats</td>
			</tr>
			<tr>
				<td><%= link_to('LB-C',{:controller => 'Lbcs',:action => 'visual'}) %></td>
				<td style="width:50px;"></td>
				<td><%= @lbcs.size %> / <%= @lbcs_all.size %> total seats</td>
			</tr>
			<tr>
				<td><%= link_to('LB-D',{:controller => 'Lbds',:action => 'visual'}) %></td>
				<td style="width:50px;"></td>
				<td><%= @lbds.size %> / <%= @lbds_all.size %> total seats</td>
			</tr>
		</table>	
	</div>
</div>

