<br /><br /><br /><br />
<div class="container1">
<%= image_tag('seatmap.jpg') %>
<div class="seat_nav">
	<ul>
		<p><%= link_to('VIP-BB/SRS-BB',{:controller => 'Vipbbsrsbbs',:action => 'visual'}) %> - <b><u><%= @vipbbsrsbbs.size %></u></b> / <%= @vipbbsrsbbs_all.size - 4 %> total seats</p>
		<p><%= link_to('SRS-AA/VIP-AA',{:controller => 'Vipbbsrsbbs',:action => 'visual'}) %></p>
		<p><%= link_to('SRS-AA',{:controller => 'Vipbbsrsbbs',:action => 'visual'}) %></p>
		<p><%= link_to('CS-AA',{:controller => 'Vipbbsrsbbs',:action => 'visual'}) %></p>
		<p><%= link_to('CS-A',{:controller => 'Vipbbsrsbbs',:action => 'visual'}) %></p>
		<p><%= link_to('SRS-A',{:controller => 'Vipbbsrsbbs',:action => 'visual'}) %></p>
		<p><%= link_to('VIP-A/SRS-A',{:controller => 'Vipbbsrsbbs',:action => 'visual'}) %></p>
		<p><%= link_to('SRS-B/VIP-B',{:controller => 'Vipbbsrsbbs',:action => 'visual'}) %></p>
		<p><%= link_to('LB-DD',{:controller => 'Lbdds',:action => 'visual'}) %></p>
		<p><%= link_to('LB-CC',{:controller => 'Vipbbsrsbbs',:action => 'visual'}) %></p>
		<p><%= link_to('LB-BB',{:controller => 'Vipbbsrsbbs',:action => 'visual'}) %></p>
		<p><%= link_to('LB-AA',{:controller => 'Vipbbsrsbbs',:action => 'visual'}) %></p>
		<p><%= link_to('LB-A',{:controller => 'Vipbbsrsbbs',:action => 'visual'}) %></p>
		<p><%= link_to('LB-B',{:controller => 'Vipbbsrsbbs',:action => 'visual'}) %></p>
		<p><%= link_to('LB-C',{:controller => 'Vipbbsrsbbs',:action => 'visual'}) %></p>
		<p><%= link_to('LB-D',{:controller => 'Vipbbsrsbbs',:action => 'visual'}) %></p>
	</ul>
</div>
</div>

