<br /><br /><br /><br />
<div class="container">
<h1>LB AA</h1>
<br />
<ul class="nav-in">
    <li><%= link_to 'A', {:controller => 'Lbaas',:action => 'index'}, :class => 'btn btn-danger' %></li>
    <li><%= link_to 'B', {:controller => 'Lbaas',:action => 'index_b'}, :class => 'btn btn-danger' %></li>
    <li><%= link_to 'C', {:controller => 'Lbaas',:action => 'index_c'}, :class => 'btn btn-danger' %></li>
    <li><%= link_to 'D', {:controller => 'Lbaas',:action => 'index_d'}, :class => 'btn btn-danger' %></li>
    <li><%= link_to 'E', {:controller => 'Lbaas',:action => 'index_e'}, :class => 'btn btn-danger' %></li>
    <li><%= link_to 'F', {:controller => 'Lbaas',:action => 'index_f'}, :class => 'btn btn-danger' %></li>
    <li><%= link_to 'G', {:controller => 'Lbaas',:action => 'index_g'}, :class => 'btn btn-danger' %></li>
    <li><%= link_to 'H', {:controller => 'Lbaas',:action => 'index_h'}, :class => 'btn btn-danger' %></li>
    <li><%= link_to 'I', {:controller => 'Lbaas',:action => 'index_i'}, :class => 'btn btn-danger' %></li>
</ul>
<br />
<table class="table table-striped">
  <tr>
    <th>Ticket #</th>
    <th>Company Name</th>
    <th>Contact</th>
    <th>Email</th>
    <th>Paid</th>
    <th>Approved</th>
    <% if session[:username] == 'superadmin' %>
        <th></th>
        <th></th>
        <th></th>
    <% end %>   
  </tr>
<% @lbaas.each do |lbaa| %>
  <tr id='<%= dom_id lbaa %>'>
    <td><%= lbaa.ticket_num %></td>
    <td><%= lbaa.company_name %></td>
    <td><%= lbaa.company_contact %></td>
    <td><%= lbaa.company_email %></td>
    <% if lbaa.paid == 'no' %>
        <td><%= image_tag('cross.png') %></td>
    <% else %>
        <td><%= image_tag('check.png') %></td>
    <% end %>

    <% if lbaa.approved == 'no' %>
        <td><%= image_tag('cross.png') %></td>
    <% else %>
        <td><%= image_tag('check.png') %></td>
    <% end %>
        
    
    <% if session[:username] == 'superadmin' %>
        <td><%= link_to 'Show', lbaa %></td>
        <td><%= link_to 'Edit', edit_lbaa_path(lbaa) %></td>
        <td><%= link_to 'Destroy', lbaa, confirm: 'Are you sure?', method: :delete, remote: true %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />
<%= link_to 'Main Page', { :controller => 'access',:action => 'public' }, :class => 'btn btn-primary' %>
<%= link_to 'View', {:controller => 'Lbaas', :action => 'visual'},:class => 'btn btn-primary' %>


</div>
