<br /><br /><br /><br />
<div class="container">
<h1>LB C</h1>
<br />
<ul class="nav-in">
    <li><%= link_to 'A', {:controller => 'Lbcs',:action => 'index'}, :class => 'btn btn-danger' %></li>
    <li><%= link_to 'B', {:controller => 'Lbcs',:action => 'index_b'}, :class => 'btn btn-danger' %></li>
    <li><%= link_to 'C', {:controller => 'Lbcs',:action => 'index_c'}, :class => 'btn btn-danger' %></li>
    <li><%= link_to 'D', {:controller => 'Lbcs',:action => 'index_d'}, :class => 'btn btn-danger' %></li>
    <li><%= link_to 'E', {:controller => 'Lbcs',:action => 'index_e'}, :class => 'btn btn-danger' %></li>
    <li><%= link_to 'F', {:controller => 'Lbcs',:action => 'index_f'}, :class => 'btn btn-danger' %></li>
    <li><%= link_to 'G', {:controller => 'Lbcs',:action => 'index_g'}, :class => 'btn btn-danger' %></li>
    <li><%= link_to 'H', {:controller => 'Lbcs',:action => 'index_h'}, :class => 'btn btn-danger' %></li>
    <li><%= link_to 'I', {:controller => 'Lbcs',:action => 'index_i'}, :class => 'btn btn-danger' %></li>
</ul>
<br />
<table class="table table-striped">
  <tr>
    <th>Ticket #</th>
    <th>Company Name</th>
    <th>Contact</th>
    <th>Email</th>
    <th>Paid</th>
    <th>Approved</th>
    <% if session[:username] == 'superadmin' %>
        <th></th>
        <th></th>
        <th></th>
    <% end %>   
  </tr>
<% @lbcs.each do |lbc| %>
  <tr id='<%= dom_id lbc %>'>
    <td><%= lbc.ticket_num %></td>
    <td><%= lbc.company_name %></td>
    <td><%= lbc.company_contact %></td>
    <td><%= lbc.company_email %></td>
    <% if lbc.paid == 'no' %>
        <td><%= image_tag('cross.png') %></td>
    <% else %>
        <td><%= image_tag('check.png') %></td>
    <% end %>

    <% if lbc.approved == 'no' %>
        <td><%= image_tag('cross.png') %></td>
    <% else %>
        <td><%= image_tag('check.png') %></td>
    <% end %>
        
    
    <% if session[:username] == 'superadmin' %>
        <td><%= link_to 'Show', lbc %></td>
        <td><%= link_to 'Edit', edit_lbc_path(lbc) %></td>
        <td><%= link_to 'Destroy', lbc, confirm: 'Are you sure?', method: :delete, remote: true %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />
<%= link_to 'Main Page', { :controller => 'access',:action => 'public' }, :class => 'btn btn-primary' %>
<%= link_to 'View', {:controller => 'Lbcs', :action => 'visual'},:class => 'btn btn-primary' %>

</div>
