<p id="notice"><%= notice %></p>

<p>
  <b>Ticket num:</b>
  <%= @lbc.ticket_num %>
</p>

<p>
  <b>Company name:</b>
  <%= @lbc.company_name %>
</p>

<p>
  <b>Company contact:</b>
  <%= @lbc.company_contact %>
</p>

<p>
  <b>Company email:</b>
  <%= @lbc.company_email %>
</p>

<p>
  <b>Flag:</b>
  <%= @lbc.flag %>
</p>

<p>
  <b>Status:</b>
  <%= @lbc.status %>
</p>

<p>
  <b>Section:</b>
  <%= @lbc.section %>
</p>

<p>
  <b>Price:</b>
  <%= @lbc.price %>
</p>

<p>
  <b>Approved:</b>
  <%= @lbc.approved %>
</p>

<p>
  <b>Paid:</b>
  <%= @lbc.paid %>
</p>

<p>
  <b>User:</b>
  <%= @lbc.user_id %>
</p>

<p>
  <b>Main section:</b>
  <%= @lbc.main_section %>
</p>


<%= link_to 'Edit', edit_lbc_path(@lbc) %> |
<%= link_to 'Back', lbcs_path %>
