<p id="notice"><%= notice %></p>

<p>
  <b>Ticket num:</b>
  <%= @srsaa.ticket_num %>
</p>

<p>
  <b>Company name:</b>
  <%= @srsaa.company_name %>
</p>

<p>
  <b>Company contact:</b>
  <%= @srsaa.company_contact %>
</p>

<p>
  <b>Company email:</b>
  <%= @srsaa.company_email %>
</p>

<p>
  <b>Flag:</b>
  <%= @srsaa.flag %>
</p>

<p>
  <b>Status:</b>
  <%= @srsaa.status %>
</p>

<p>
  <b>Section:</b>
  <%= @srsaa.section %>
</p>

<p>
  <b>Price:</b>
  <%= @srsaa.price %>
</p>

<p>
  <b>Approved:</b>
  <%= @srsaa.approved %>
</p>

<p>
  <b>Paid:</b>
  <%= @srsaa.paid %>
</p>

<p>
  <b>User:</b>
  <%= @srsaa.user_id %>
</p>

<p>
  <b>Main section:</b>
  <%= @srsaa.main_section %>
</p>


<%= link_to 'Edit', edit_srsaa_path(@srsaa) %> |
<%= link_to 'Back', srsaas_path %>
