<p id="notice"><%= notice %></p>

<p>
  <b>Ticket num:</b>
  <%= @lbcc.ticket_num %>
</p>

<p>
  <b>Company name:</b>
  <%= @lbcc.company_name %>
</p>

<p>
  <b>Company contact:</b>
  <%= @lbcc.company_contact %>
</p>

<p>
  <b>Company email:</b>
  <%= @lbcc.company_email %>
</p>

<p>
  <b>Flag:</b>
  <%= @lbcc.flag %>
</p>

<p>
  <b>Status:</b>
  <%= @lbcc.status %>
</p>

<p>
  <b>Section:</b>
  <%= @lbcc.section %>
</p>

<p>
  <b>Price:</b>
  <%= @lbcc.price %>
</p>

<p>
  <b>Approved:</b>
  <%= @lbcc.approved %>
</p>

<p>
  <b>Paid:</b>
  <%= @lbcc.paid %>
</p>

<p>
  <b>User:</b>
  <%= @lbcc.user_id %>
</p>

<p>
  <b>Main section:</b>
  <%= @lbcc.main_section %>
</p>


<%= link_to 'Edit', edit_lbcc_path(@lbcc) %> |
<%= link_to 'Back', lbccs_path %>
