<p id="notice"><%= notice %></p>

<p>
  <b>Ticket num:</b>
  <%= @lbb.ticket_num %>
</p>

<p>
  <b>Company name:</b>
  <%= @lbb.company_name %>
</p>

<p>
  <b>Company contact:</b>
  <%= @lbb.company_contact %>
</p>

<p>
  <b>Company email:</b>
  <%= @lbb.company_email %>
</p>

<p>
  <b>Flag:</b>
  <%= @lbb.flag %>
</p>

<p>
  <b>Status:</b>
  <%= @lbb.status %>
</p>

<p>
  <b>Section:</b>
  <%= @lbb.section %>
</p>

<p>
  <b>Price:</b>
  <%= @lbb.price %>
</p>

<p>
  <b>Approved:</b>
  <%= @lbb.approved %>
</p>

<p>
  <b>Paid:</b>
  <%= @lbb.paid %>
</p>

<p>
  <b>User:</b>
  <%= @lbb.user_id %>
</p>

<p>
  <b>Main section:</b>
  <%= @lbb.main_section %>
</p>


<%= link_to 'Edit', edit_lbb_path(@lbb) %> |
<%= link_to 'Back', lbbs_path %>
