<p id="notice"><%= notice %></p>

<p>
  <b>Ticket num:</b>
  <%= @lbd.ticket_num %>
</p>

<p>
  <b>Company name:</b>
  <%= @lbd.company_name %>
</p>

<p>
  <b>Company contact:</b>
  <%= @lbd.company_contact %>
</p>

<p>
  <b>Company email:</b>
  <%= @lbd.company_email %>
</p>

<p>
  <b>Flag:</b>
  <%= @lbd.flag %>
</p>

<p>
  <b>Status:</b>
  <%= @lbd.status %>
</p>

<p>
  <b>Section:</b>
  <%= @lbd.section %>
</p>

<p>
  <b>Price:</b>
  <%= @lbd.price %>
</p>

<p>
  <b>Approved:</b>
  <%= @lbd.approved %>
</p>

<p>
  <b>Paid:</b>
  <%= @lbd.paid %>
</p>

<p>
  <b>User:</b>
  <%= @lbd.user_id %>
</p>

<p>
  <b>Main section:</b>
  <%= @lbd.main_section %>
</p>


<%= link_to 'Edit', edit_lbd_path(@lbd) %> |
<%= link_to 'Back', lbds_path %>
