<p id="notice"><%= notice %></p>

<p>
  <b>Ticket num:</b>
  <%= @srsaavipaa.ticket_num %>
</p>

<p>
  <b>Company name:</b>
  <%= @srsaavipaa.company_name %>
</p>

<p>
  <b>Company contact:</b>
  <%= @srsaavipaa.company_contact %>
</p>

<p>
  <b>Company email:</b>
  <%= @srsaavipaa.company_email %>
</p>

<p>
  <b>Flag:</b>
  <%= @srsaavipaa.flag %>
</p>

<p>
  <b>Status:</b>
  <%= @srsaavipaa.status %>
</p>

<p>
  <b>Section:</b>
  <%= @srsaavipaa.section %>
</p>

<p>
  <b>Price:</b>
  <%= @srsaavipaa.price %>
</p>

<p>
  <b>Approved:</b>
  <%= @srsaavipaa.approved %>
</p>

<p>
  <b>Paid:</b>
  <%= @srsaavipaa.paid %>
</p>

<p>
  <b>User:</b>
  <%= @srsaavipaa.user_id %>
</p>

<p>
  <b>Main section:</b>
  <%= @srsaavipaa.main_section %>
</p>


<%= link_to 'Edit', edit_srsaavipaa_path(@srsaavipaa) %> |
<%= link_to 'Back', srsaavipaas_path %>
