<p id="notice"><%= notice %></p>

<p>
  <b>Ticket num:</b>
  <%= @csaa.ticket_num %>
</p>

<p>
  <b>Company name:</b>
  <%= @csaa.company_name %>
</p>

<p>
  <b>Company contact:</b>
  <%= @csaa.company_contact %>
</p>

<p>
  <b>Company email:</b>
  <%= @csaa.company_email %>
</p>

<p>
  <b>Flag:</b>
  <%= @csaa.flag %>
</p>

<p>
  <b>Status:</b>
  <%= @csaa.status %>
</p>

<p>
  <b>Section:</b>
  <%= @csaa.section %>
</p>

<p>
  <b>Price:</b>
  <%= @csaa.price %>
</p>

<p>
  <b>Approved:</b>
  <%= @csaa.approved %>
</p>

<p>
  <b>Paid:</b>
  <%= @csaa.paid %>
</p>

<p>
  <b>User:</b>
  <%= @csaa.user_id %>
</p>

<p>
  <b>Main section:</b>
  <%= @csaa.main_section %>
</p>


<%= link_to 'Edit', edit_csaa_path(@csaa) %> |
<%= link_to 'Back', csaas_path %>
